# Telegram Bot Token (BotFather'dan olingan)
TELEGRAM_BOT_TOKEN="your_bot_token_here"

# Asosiy Admin Telegram ID (Raqamli ID)
ADMIN_TELEGRAM_ID="your_telegram_id_here"

# PostgreSQL ma'lumotlar bazasi URL manzili
DATABASE_URL="your_database_url_here"

# Frontend URL (CORS va rasm havolalari uchun kerak)
APP_URL="http://localhost:3000"

# HMR o'chirish (AI Studio muhiti uchun)
DISABLE_HMR=true
