# Telegram Bot Token (BotFather'dan olingan)
TELEGRAM_BOT_TOKEN="BOT_TOKEN_SHU_YERGA_YOZING"

# Asosiy Admin Telegram ID (Raqamli ID)
ADMIN_TELEGRAM_ID="8594155055"

# PostgreSQL ma'lumotlar bazasi URL manzili (Neon, Supabase, yoki mahalliy)
DATABASE_URL="postgresql://user:password@host:port/dbname"

# Frontend URL (CORS va rasm havolalari uchun kerak)
APP_URL="http://localhost:3000"

# HMR o'chirish (AI Studio muhiti uchun)
DISABLE_HMR=true
